<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title></title>
                <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <style>
        .strike {text-decoration: line-through}
    </style>

    <div class="container" ng-app="todoApp" ng-controller="TodoController">

    <h1>{{getTotalTodos()}} items on todo list</h1>
    <p id="empty" ng-hide="todos.length || !loaded">You don't have any todos! Add one now:</p>
    <ul id="todos" >
      <li ng-repeat="todo in todos">
        <label class="checkbox">
          <input type="checkbox" ng-model="todo.done" ng-change="changeCompleted(todo)"  />
          <span ng-class="{strike: todo.done }">{{todo.text}}</span>
        </label>
      </li>
    </ul>
    <form class="form-inline">
      <input id="todo-title" type="text" ng-model="formTodoText" />
      <button id="add-btn" class="btn btn-success" ng-click="addTodo()">Add</button>
    </form>
    <p>
      <a href id="remove-completed-btn" ng-click="clear2()">Remove completed items</a>
    </p>
  </div>

  <script src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>

  <script type="text/javascript" src="todo.js"></script>
</html>
